[submodule "Technomaniac | bsDvdVfNq4LlYCO1JJhF"]
	path = Technomaniac | bsDvdVfNq4LlYCO1JJhF
	url = https://github.com/Dhanush17raj/websockets_project.git
[submodule "Splinter | 4Hw1QMXYcKgm77zkG4uf"]
	path = Splinter | 4Hw1QMXYcKgm77zkG4uf
	url = https://github.com/arjun-ms/websocket-API
[submodule "TeamFLEG | qOwn6XEUDvp6McEEMeMu"]
	path = TeamFLEG | qOwn6XEUDvp6McEEMeMu
	url = https://github.com/TeamFLEG/websocket-sat-hacknight
[submodule "Splinter | o3mSUYEqXFRJS2ffAtsc"]
	path = Splinter | o3mSUYEqXFRJS2ffAtsc
	url = https://github.com/arjun-ms/websocket-API
[submodule "Splinter | n67C1on7UsqiF5IXDKLX"]
	path = Splinter | n67C1on7UsqiF5IXDKLX
	url = https://github.com/arjun-ms/websocket-API
[submodule "Team302 | gbnntuz1k4XZaTLm1o1J"]
	path = Team302 | gbnntuz1k4XZaTLm1o1J
	url = https://github.com/me-nkr/shn-websocket
[submodule "Cupertino | ZXR0shvV73IXbMfnJc0a"]
	path = Cupertino | ZXR0shvV73IXbMfnJc0a
	url = https://github.com/Akhil-ps-dev/Cupertino-websocket
[submodule "PROGAHOLICS | OPXrRMhR5Cr0u9AV2eAj"]
	path = PROGAHOLICS | OPXrRMhR5Cr0u9AV2eAj
	url = https://github.com/pranavmadhu01/websocket
[submodule "Splinter | gQzbzdaAGrzvY8uv1PcU"]
	path = Splinter | gQzbzdaAGrzvY8uv1PcU
	url = https://github.com/arjun-ms/websocket-API
[submodule "cipherGUYS | 1cxp3oPIOialCjpvPLhi"]
	path = cipherGUYS | 1cxp3oPIOialCjpvPLhi
	url = https://github.com/cipherGUYS/SHN-Websocket
[submodule "Decoders | ZM1DSwKm882k6Cl8Pu8F"]
	path = Decoders | ZM1DSwKm882k6Cl8Pu8F
	url = https://github.com/rohithcd/HackNi8-Websocket.git
[submodule "HackTox | Efsr0VjYmPl7UTvr80QW"]
	path = HackTox | Efsr0VjYmPl7UTvr80QW
	url = https://github.com/twilighty-abhi/dollie
[submodule "peackyblinders | 6IxXwEuZGwmas52URKzV"]
	path = peackyblinders | 6IxXwEuZGwmas52URKzV
	url = https://github.com/hinasahammed/hacknight
[submodule "HOCUS | xx3R7gjIIiEAyjiU0kyf"]
	path = HOCUS | xx3R7gjIIiEAyjiU0kyf
	url = https://github.com/pakbuild/hacknighthocus
[submodule "Adipurush | Rwvr0l0TgynIJ3IabS56"]
	path = Adipurush | Rwvr0l0TgynIJ3IabS56
	url = https://github.com/hridulpk/hacknight-adipurush
[submodule "Pheonix | vRQWvArIkkPryUOgyhrw"]
	path = Pheonix | vRQWvArIkkPryUOgyhrw
	url = https://github.com/ajmalmohad/draw.io
[submodule "LemonTea | e64RCe3hPQaDz7yCUcQT"]
	path = LemonTea | e64RCe3hPQaDz7yCUcQT
	url = https://github.com/nasw1h/hacknight-websocket
[submodule "Kunjumakkal | mMmjQKrL3Qdg2Wewg3Oi"]
	path = Kunjumakkal | mMmjQKrL3Qdg2Wewg3Oi
	url = https://github.com/abhijithgkrishna/WebSocket
