[submodule "Technomaniac | bsDvdVfNq4LlYCO1JJhF"]
	path = Technomaniac | bsDvdVfNq4LlYCO1JJhF
	url = https://github.com/Dhanush17raj/websockets_project.git
[submodule "Splinter | 4Hw1QMXYcKgm77zkG4uf"]
	path = Splinter | 4Hw1QMXYcKgm77zkG4uf
	url = https://github.com/arjun-ms/websocket-API
[submodule "TeamFLEG | qOwn6XEUDvp6McEEMeMu"]
	path = TeamFLEG | qOwn6XEUDvp6McEEMeMu
	url = https://github.com/TeamFLEG/websocket-sat-hacknight
