[submodule "Technomaniac | bsDvdVfNq4LlYCO1JJhF"]
	path = Technomaniac | bsDvdVfNq4LlYCO1JJhF
	url = https://github.com/Dhanush17raj/websockets_project.git
[submodule "Splinter | 4Hw1QMXYcKgm77zkG4uf"]
	path = Splinter | 4Hw1QMXYcKgm77zkG4uf
	url = https://github.com/arjun-ms/websocket-API
[submodule "TeamFLEG | qOwn6XEUDvp6McEEMeMu"]
	path = TeamFLEG | qOwn6XEUDvp6McEEMeMu
	url = https://github.com/TeamFLEG/websocket-sat-hacknight
[submodule "Splinter | o3mSUYEqXFRJS2ffAtsc"]
	path = Splinter | o3mSUYEqXFRJS2ffAtsc
	url = https://github.com/arjun-ms/websocket-API
[submodule "Splinter | n67C1on7UsqiF5IXDKLX"]
	path = Splinter | n67C1on7UsqiF5IXDKLX
	url = https://github.com/arjun-ms/websocket-API
[submodule "Team302 | gbnntuz1k4XZaTLm1o1J"]
	path = Team302 | gbnntuz1k4XZaTLm1o1J
	url = https://github.com/me-nkr/shn-websocket
[submodule "Cupertino | ZXR0shvV73IXbMfnJc0a"]
	path = Cupertino | ZXR0shvV73IXbMfnJc0a
	url = https://github.com/Akhil-ps-dev/Cupertino-websocket
